.card {
  background-color: #1abc9c;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FF9A16;
  width: 50%;
  margin: 8px auto;
}

.link {
  background-color: #FF9A16;
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin-bottom: 18px;
}