.card {
  box-sizing: border-box;
  background-color: #1abc9c;
  /* padding: 8px; */
  border-radius: 5px;
  border-style: solid;
  border-color: #FF9A16;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.link {
  background-color: #FF9A16;
  border-radius: 5px;
  color: black;
  padding: 5px;
  margin-bottom: 16px;
  margin-left: 15px;
}